NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000 

NEXT_PUBLIC_USER_APP=http://localhost:3000
NEXT_PUBLIC_MOCK_BANK=http://localhost:3001
BANK_WEBHOOK=http://bank-webhook-service:3003

DATABASE_URL=postgresql://postgres:mysecretpassword@db:5432/paytm


