name: Build on PR

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Builds the project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "24.11.1"

      - name: Install dependencies
        run: npm install

      - name: Generate prisma client
        run: npm run db:generate

      - name: Run build
        run: npm run build

# We can also add a lint check, formatting check & test step in our CI workflow.
