name: Build and Deploy to Docker Hub

on:
  push:
    branches:
      - main
      # We've changed it to master just for now, as currenly we are just building our application and we don't want the whole
      # workflow to run for each & every commit, that's why. You can change it to "main" later.

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/DockerFile.userApp
          push: true
          tags: aaditya999/wallet-userapp:latest # Replace with your Docker Hub username and repository

      - name: Verify Pushed Image
        run: docker pull aaditya999/wallet-userapp:latest # Replace with your Docker Hub username and repository

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }} # Public IP of EC2 instance.
          username: ${{ secrets.SSH_USERNAME }} # Username inside the EC2 instance, usually it's "ubuntu".
          key: ${{ secrets.SSH_KEY }} #SSH key for your EC2 instance.
          script: |
            cd /home/ubuntu/paytm-deploy
            sudo docker-compose pull user-app
            sudo docker-compose up -d
